<h2>Serviços em Andamento: </h2>

{{#each agendamentos}}
<div class="card mt-2">
    <div class="card-body">
        <h5 class="d-inline">Responsavel: {{responsavel}}</h5><br>
        <p class="m-0 d-inline">Placa do Veiculo: {{placa}}</p><br>
        <p class="m-0 d-inline">Modelo do Veiculo: {{modelo}}</p><br>
        <p class="m-0 d-inline">Tipo de Serviço a ser feito: {{tipo}}</p><br>
        <p class="m-0 d-inline">Data de Entrega do Veiculo: {{data}}</p>
        <a href="/agendamento/{{responsavel}}"><button class="btn btn-primary float-right">Visualizar</button></a>
    </div>
</div>

{{else}}

{{/each}}