<div class="card">
    <div class="card-body">
        <h4 class="m-0">Responsavel: {{agendamento.responsavel}}</h4>
        <p class="m-0">Placa: {{agendamento.placa}}</p>
        <p class="m-0">Modelo: {{agendamento.modelo}}</p>
        <p class="m-0">Tipo de Serviço: {{agendamento.tipo}}</p>
        <p class="m-0">Descrição do Serviço: {{agendamento.descricao}}</p>
        <p class="m-0">Data limite para finalização do Serviço: {{agendamento.data}}</p>
        <a href="/">
        <button type="button" class="btn btn-danger mt-4" style="width: 150px;">Sair</button></a>
    </div>
</div>